/* NAVBAR */
.navbar {
  height: var(
    --navbar-height
  ); /* height controlled by child to fill with center alignment on column-dir flexbox */
  min-width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  color: rgb(var(--foreground-accent-rgb));
  background-color: rgb(var(--background-accent-rgb));
  font-size: 0.8rem;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.navbarContainer {
  height: var(
    --navbar-height
  ); /* height controlled by child to fill with center alignment on column-dir flexbox */
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove bullets */

  align-items: center;
}

/* TEMP VOTE ON THIS */
.navbarLiItem {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem {
  padding: 0rem 1rem 0rem 1rem;
}

.navbarItem {
  position: relative;
  padding: 0rem 1rem 0rem 1rem;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem:hover {
  /* option 2 */
  /* transition: all 0.2s steps(2, jump-start); */
  transition: all 0.2s;
  background-color: rgb(var(--background-selected-rgb));
}

.navbarItem::after {
  /* option 2 */
  /* transition: all 0.2s steps(4, jump-end); */
  transition: all 0.2s;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  content: "";

  height: 0.2rem;
  background-color: red;
}

.navbarItem:hover::after {
  width: 100%;
}

/* SEARCHBAR */
.searchContainer {
  margin: 1rem;
}

.searchBar:hover {
  border-style: none;
}

.searchBar:focus {
  border-style: none;
  outline: none;
}

.searchBar {
  width: 20rem;
  margin: 0px;
  padding: 1rem;
  color: #000;
  background-color: #fefefe;

  border-radius: 0.5rem;
  border-style: none;
  outline: none;
}

.searchResults {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
  width: 20rem;
  height: fit-content;
  color: #000;
  background-color: #fefefe;
  transition:
    margin 0.1s,
    color 0s,
    height 1s;
}

.searchResultDummy {
  margin: 0px;
  padding: 1rem;
  font-weight: lighter;
  font-style: italic;
  visibility: hidden;
}

.searchResult_normal:hover {
  background-color: #f0f0f0;
}

.searchResult_normal:focus {
  background-color: #f0f0f0;
}

.searchResult_normal {
  padding: 0.6rem;
  background-color: #fefefe;
  margin: 0.1rem;
  border-radius: 0.1rem;
}

.searchResult_close:hover {
  background-color: #f0f0f0;
}

.searchResult_close {
  padding: 0.6rem;
  background-color: #fefefe;
  margin: 0.1rem;
  border-radius: 0.1rem;
  font-weight: bold;
}

/* WEBSITE TITLE */
.websiteTitleContainer {
  width: 100vw;
  background-color: rgb(var(--background-accent-light-rgb));
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0rem 2rem 0rem;
}

.websiteTitle {
  margin: 2rem;
  padding: 2rem;
  background-color: var(--maryland-emphasis-background);
  color: var(--maryland-emphasis-foreground);
  width: fit-content;
}
