:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --foreground-accent-rgb: 0, 0, 0;
  --background-rgb: 230, 230, 230;
  --background-accent-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  font-family: var(--font-mono);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* NAVBAR */

.navbar {
  min-width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  color: rgb(var(--foreground-accent-rgb));
  background-color: rgb(var(--background-accent-rgb));
  font-size: 0.8rem;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.navbarContainer {
  height: 2rem; /* height controlled by child to fill with center alignment on column-dir flexbox */
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove bullets */

  align-items: center;
}

/* TEMP VOTE ON THIS */
.navbarLiItem {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem {
  padding: 0rem 1rem 0rem 1rem;
}

.navbarItem {
  position: relative;
  padding: 0rem 1rem 0rem 1rem;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem:hover {
  /* option 2 */
  /* transition: all 0.2s steps(2, jump-start); */
  transition: all 0.2s;
  background-color: #dedede;
}

.navbarItem::after {
  /* option 2 */
  /* transition: all 0.2s steps(4, jump-end); */
  transition: all 0.2s;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  content: "";

  height: 0.2rem;
  background-color: red;
}

.navbarItem:hover::after {
  width: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
