/* COLORS */

:root {
  /* generic */
  --maryland-red: #e21833;
  --maryland-gold: #ffd200;
  --bronze-testudo: #ad7231;
}

:root {
  /* light mode */
  --foreground-rgb: 0, 0, 0;
  --foreground-accent-rgb: 40, 40, 40;
  --background-rgb: 230, 230, 230;
  --background-selected-rgb: 225, 225, 225;
  --background-accent-rgb: 255, 255, 255;
  --background-accent-light-rgb: 240, 240, 240;

  --maryland-emphasis-background: var(--maryland-red);
  --maryland-emphasis-foreground: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode */
    --foreground-rgb: 255, 255, 255;
    --foreground-accent-rgb: 210, 210, 210;
    --background-rgb: 40, 40, 40;
    --background-selected-rgb: 100, 100, 100;
    --background-accent-rgb: 80, 80, 80;
    --background-accent-light-rgb: 60, 60, 60;
  }
}

/* SIZING */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --navbar-height: 2rem;
  --page-padding: calc(var(--navbar-height));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  font-family: var(--font-mono);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--page-padding);
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
