/* WEBSITE TITLE */
@keyframes onLoad {
  from {
    /* opacity: 0; */
    width: 0%;
  }
  to{
    /* opacity: 1; */
    width: 100%;
  }
}

.websiteTitleContainer {
    position: relative;
  
  width: 100vw;
  height: 30vh;
  min-height: 10rem;
  background-color: rgb(var(--background-accent-light-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 0rem 2rem 0rem;
}

.websiteTitleContainer:before{
    transition: 1s;
    content: "";
    position:absolute;
    right: 0;
    max-width: 1rem;
    top: 0;
    height: 100%;
    background-color: var(--maryland-emphasis-background);
    animation: 1s ease-in-out 1s 1 onLoad forwards;
}


.websiteTitleContainer:after{
    transition: 1s;
    content: "";
    position:absolute;
    left: 0;
    max-width: 1rem;
    top: 0;
    height: 100%;
    background-color: var(--maryland-emphasis-background);
    animation: 1s ease-in-out 1s 1 onLoad forwards;
}

.websiteTitle {
  margin: 2rem;
  padding: 2rem;
  background-color: var(--maryland-emphasis-background);
  color: var(--maryland-emphasis-foreground);
  width: fit-content;
}

/* HOME PAGE */
.homePageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagLine {
    font-family: var(--font-inter);

    font-size: 4rem;
    word-spacing: 0.8;
    font-weight: 550;
    color: black;
    margin-bottom: 0.75rem;
    margin-top: -1.7rem;
    letter-spacing: 2.1px;
}

.tagLineBar {
    width: 52rem;
    height: 0.31rem;
    background-color: var(--maryland-red);
    margin-bottom: 0.85rem;
    margin-top: 0.15rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    background-color: var(--bronze-testudo);
    color: white;
    font-weight: 500;
    font-size: 1.35rem;
    padding: 1rem 1rem 1rem 1rem;
}

.buttonContainer:hover {
    background-color: var(--maryland-red);
}

@media (prefers-color-scheme: dark) {
    .tagLine {
        font-size: 4rem;
        word-spacing: 0.8;
        font-weight: 550;
        color: rgb(220, 220, 220);
        margin-bottom: 0.75rem;
        margin-top: -1.7rem;
        letter-spacing: 2.1px;
    }
}