.searchContainer {
  margin: 1rem;
}

.searchBar:hover {
  border-style: none;
}

.searchBar:focus {
  border-style: none;
  outline: none;
}

.searchBar {
  width: 20rem;
  margin: 0px;
  padding: 1rem;
  background-color: #fefefe;

  border-radius: 0.2rem;
  border-style: none;
  outline: none;
}

.searchResults {
  padding: 1rem;
  width: 20rem;
  min-height: 2rem;
  background-color: #fefefe;
  transition: height font-style 1s;
}

.searchResultDummy {
  margin: 0px;
  padding: 1rem;
  font-weight: lighter;
  font-style: italic;
  opacity: 0;
}

.searchResult_normal:hover {
  background-color: #f0f0f0;
}

.searchResult_normal:focus {
  background-color: #f0f0f0;
}

.searchResult_normal {
  padding: 0.6rem;
  background-color: #fefefe;
  margin: 0.1rem;
  border-radius: 0.1rem;
}

.searchResult_close {
  padding: 0.6rem;
  background-color: #fefefe;
  margin: 0.1rem;
  border-radius: 0.1rem;
  font-weight: bold;
}
