.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: rem;
  min-height: 100vh;
}

.course {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #eee;
}

.courseName {
  padding-bottom: 1rem;
}

.row {
  background-color: #aaa;
  border: 2px solid;
  border-bottom: 0;
}

.row div {
  display: flex;
  padding: 1rem;
}

.headerRow {
  padding: 1rem;
  background-color: #aaa;
  border: 2px solid;
  border-bottom: 0;
  box-sizing: border-box;
  font-weight: 900;
}

.row:last-child {
  border-bottom: 2px solid;
}

.progressBar {
  -webkit-appearance: none;
  border-radius: 10px;
  height: 0.5rem;
}

.progressBar::-webkit-progress-value {
  background-color: #e21833;
  border-radius: 10px;
}

.progressBar::-webkit-progress-bar {
  background-color: #777777;
  border-radius: 10px;
}

/* .button {
  padding: 10px 24px;
  background-color: white;
  width: 8.5rem;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
}

.button:hover {
  background-color: #ef5a6e;
}

.buttonTracking {
  padding: 10px 24px;
  background-color: #e21833;
  width: 8.5rem;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
}

.buttonTracking:hover {
  background-color: #bf293d;
} */

/* * {
  outline: 1px solid red !important;
} */
